/*

!/.gitignore
!/README.md

!/src/Pyz/Client/HelloWorld
!/src/Pyz/Client/HelloWorld/*

!/src/Pyz/Client/Catalog
!/src/Pyz/Client/Catalog/*

!/src/Pyz/Client/PersonalizedProduct
!/src/Pyz/Client/PersonalizedProduct/*

!/src/Pyz/Shared/Cms/Theme/default/templates/my-offers
!/src/Pyz/Shared/Cms/Theme/default/templates/my-offers/*

!/src/Pyz/Shared/HelloWorld
!/src/Pyz/Shared/HelloWorld/*

!/src/Pyz/Yves/HelloWorld
!/src/Pyz/Yves/HelloWorld/*

!/src/Pyz/Yves/PersonalizedProduct
!/src/Pyz/Yves/PersonalizedProduct/*

!/src/Pyz/Yves/ShopApplication/
!/src/Pyz/Yves/ShopApplication/*

!/src/Pyz/Zed/HelloWorld/
!/src/Pyz/Zed/HelloWorld/*
