/*

!/.gitignore
!/README.md

!/config/Shared/config_default.php
!/config/Shared/config_default-development_DEMO.php
!/config/Shared/config_default_DEMO.php
!/config/Shared/stores.php

!/config/Zed/oms
!/config/Zed/oms/*

!/src/Pyz/Client/HelloWorld
!/src/Pyz/Client/HelloWorld/*

!/src/Pyz/Client/Catalog
!/src/Pyz/Client/Catalog/*

!/src/Pyz/Client/PersonalizedProduct
!/src/Pyz/Client/PersonalizedProduct/*

!/src/Pyz/Shared/Cms/Theme/default/templates/my-offers
!/src/Pyz/Shared/Cms/Theme/default/templates/my-offers/*

!/src/Pyz/Shared/HelloWorld
!/src/Pyz/Shared/HelloWorld/*

!/src/Pyz/Yves/HelloWorld
!/src/Pyz/Yves/HelloWorld/*

!/src/Pyz/Yves/PersonalizedProduct
!/src/Pyz/Yves/PersonalizedProduct/*

!/src/Pyz/Yves/ShopApplication/
!/src/Pyz/Yves/ShopApplication/*

!/src/Pyz/Zed/Application/
!/src/Pyz/Zed/Application/*

!/src/Pyz/Zed/ApplicationDEMO/
!/src/Pyz/Zed/ApplicationDEMO/*

!/src/Pyz/Zed/HelloWorld/
!/src/Pyz/Zed/HelloWorld/*

!/src/Pyz/Zed/Oms/
!/src/Pyz/Zed/Oms/*

!/tests/_data
!/tests/_data/*

!/tests/PyzTest/Zed/HelloWorld/codeception.yml
!/tests/PyzTest/Zed/HelloWorld/Business
!/tests/PyzTest/Zed/HelloWorld/Business/*
