{# src/Pyz/Yves/HelloWorld/Theme/default/views/index/index.twig #}

{% extends template('page-layout-main') %}

{% define data = {
    reversedString: _view.reversedString
} %}

{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <h2>Hello Tobi, whats up!</h2>
            <h3>{{ data.reversedString }}</h3>
        </div>
    </div>
{% endblock %}
